.class1 {color: red;}
.class2 {color: red;}
.class3 {color: red;}
.class4 {color: red;}
.class5 {color: red;}
.class6 {color: red;}
.class7 {color: blue;}
.class8 {color: blue;}
.class9 {color: blue;}

a {color: black;}

p {font-size: 16 px; color: black;}


